<%- include('mainpage.ejs') %>

<style type="text/css">


	
	#im
	{
		position: relative;
		top:10px;
		border-radius: 20px;
		width: 100px;
		height: 100px;
		left:10px;
	}
	#tt
	{
		position: relative;
		left:120px;
		transform: translateY(-100%);
		color: white;
		font-size: 20px;
		padding: 0px;
		margin: 0px;
		width:calc(100% - 140px);
	}
	.invs
	{
		border-bottom:2px solid white;
		height: 130px;
	}
	.invs:hover
	{
		cursor: pointer;
	}
	.show
	{
		color: white;
		/*text-align: center;*/
		font-size: 25px;
	}
</style>
<div class="maindisp" id="invites">
	
	<div class="show">
	<% if(user.accepted.length==0){ %>
		<p style="text-align: center;padding: 10px;">Accept Some Invitations!</p>
	<% }else{ %>
	<% for(var i=0;i<invs.length;i++) { %>
	<a href="/Invitebox/<%=user.username%>/<%=invs[i]._id%>/show">
		<div class="invs" id="in<%=i%>" onclick="invo(<%=i%>)">
			<% if(invs[i].typeof=="Party") { %>
			<img src="/images/party.jpg" id="im">
			<% } else if(invs[i].typeof=="Birthday Party"){ %>
			<img src="/images/bday.jpg" id="im">
			<% } else if(invs[i].typeof=="Wedding"){ %>
			<img src="/images/wed.jpg" id="im">
			<% } else if(invs[i].typeof=="Funeral"){ %>
			<img src="/images/fun.jpg" id="im">
			<% } %>
			<p id="tt">
				<%= invs[i].host %> has invited for <%= invs[i].typeof %> at <%= invs[i].atTime %>
			</p>
		</div>
	</a>
	<% } %>
	</div>
	<%}%>
</div>

<%- include('down.ejs') %>